html {
	font-family: 'Roboto Condensed', sans-serif;
	font-size:10px;
}

/* messageBox */
.modalMessageContainer {
	background-color: rgba(0,0,0,0.68);
}

.dashboardMessageContainer {
	display: block;
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 100000;
	font-size: 20px;
	color: red;
	width:50%;
	text-align: right;
}

.dashboardMessageContainerLeft {
	position: absolute;
	z-index: 1;
	bottom: 0px;
	font-size: 20px;
	left: 4px;
	width:50%;
}

.frameContainer {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 35px 20px 35px;
	border-radius: 5px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.53);
}

.messageContainer {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 35px 20px 35px;
	border-radius: 5px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.53);
	text-align:center;
}

.errorContainer {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 35px 20px 35px;
	border-radius: 5px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.53);
}

.messageTitle {
	font-size: 20px;
	text-align: center;
}

.messageContent {
	text-align: center;
	font-family: sans-serif;
	font-size: 14px;
}

.messageErrorTitle {
	font-size: 20px;
	text-align: center;
}

.messageErrorContent {
	text-align: center;
	font-family: sans-serif;
	font-size: 14px;
}

.messageContainer_closeButton {
	background-image: url(../resources/close_button.png);
	width: 16px;
	height: 16px;
	background-size: 300% 100%;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	cursor: hand;
}

.messageContainer_closeButton:hover {
	background-position: -16px;
}

.messageContainer_closeButton:active {
	background-position: 16px;
}

.loaderContainer {
	position:fixed;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	background-color:white;
	z-index: 1000;
}

.utilityTitleLabel {
	color: white;
	font-size: 14px;
	font-family: helvetica,arial;
	padding-left: 10px;
	margin-top: 20px;
}

.utilityTitleLabel.subtitle {
	font-size:12px;
	padding-left:15px;
	margin-top:14px;
}

.utilityField {
	margin-top:5px;
	padding-left: 20px;
}

.utilityLabel {
	width:30%;
	display:inline-block;
	text-align: right;
	font-size:12px;
	color:white;
	font-family: helvetica;
	padding-right:1%;
	color: rgb(252, 252, 252);
}

.utilityCheckLabel {
	font-family: helvetica,arial;
	color: white;
	font-size: 10px;
}

.utilityText {
	width:36px;
}

.stepper {
	width: 25px;
	height: 25px;
	background-color: rgb(236, 236, 236);
	border-radius: 8px;
	margin-left: 4px;
}

.utilityView {
	position:fixed;
	left:0px;
	width:200px;
	top:0px;
	bottom:0px;
	background-image:url(../resources/utility_bkg.jpg);
}

.dashboardMainContainer {
	position: fixed;
	left: 200px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	overflow: auto;
	box-shadow: 0px 0px 32px 6px black;
	z-index: 1;
}

.showUtilsButton {
	color: white;
	background-color: rgba(0, 0, 0, 0.64);
	box-shadow: 1px 1px 9px -2px black;
	border-radius: 30px;
	text-align: center;
	font-size: 34px;
	line-height: 24px;
	border: 3px solid white;
	position: absolute;
	left: 5px;
	top: 5px;
	width: 30px;
	height: 30px;
	z-index: 100;
	cursor: pointer;
	opacity: 0.6;
}

.showUtilsButton:hover {
	opacity:1.0;
}

.showUtilsButton:active {
	left:6px;
	bottom:4px;
	opacity:1.0;
}

.dashboardContainer {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	overflow: auto;
	z-index: 1;
	background-color: #f3f3f3;
	padding-left:40px;
}

.dashboardItemContainer {
	position:relative;
	overflow: hidden;
	background-image:url(../resources/agent_bkg.jpg);
	background-size:100%;
	margin:10px;
	border:1px solid #a7a7a7;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	border-radius: 0px 0px 7% 7%;
}

.dashboardItem.infoButton {
	position:absolute;
	z-index: 20;
	border: 3px solid white;
	color:white;
	background-color: rgba(111, 111, 111, 0.76);
	top:2px;
	left:2px;
	width:25px;
	height:25px;
	line-height:32px;
	border-radius: 100px;
	text-align:center;
	cursor:pointer;
	font-family: Bonbon;
	font-size:24px;
	box-shadow: 1px 1px 4px 0px rgba(68, 68, 68, 0.51);
	opacity: 0.5;
}

.dashboardItem.infoButton:hover {
	opacity: 1.0;
}

.dashboardItem.infoButton:active {
	opacity: 1.0;
	top:3px;
	left:3px;
}

.dashboardItem.hideButton {
	position:absolute;
	z-index: 20;
	border: 3px solid white;
	color:white;
	background-color: rgba(111, 111, 111, 0.76);
	top:2px;
	right:2px;
	width:25px;
	height:25px;
	line-height:22px;
	border-radius: 100px;
	text-align:center;
	cursor:pointer;
	font-family: helvetica;
	font-size:31px;
	box-shadow: 1px 1px 4px 0px rgba(68, 68, 68, 0.51);
	opacity: 0.5;
}

.dashboardItem.hideButton:hover {
	opacity: 1.0;
}

.dashboardItem.hideButton:active {
	opacity: 1.0;
	top:3px;
	right:1px;
}

.dashboardItem.hideButton.show {
	background-image:url(../resources/view-hide.png);
	background-size:200%;
	background-position: 100%;
}

.dashboardItem.hideButton.hide {
	background-image:url(../resources/view-hide.png);
	background-size:200%;
}

.dashboardItem.vncButton {
	background-image:url(../resources/screen-icon.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position:50% 50%;
	position:absolute;
	z-index: 20;
	border: 3px solid white;
	color:white;
	background-color: rgba(111, 111, 111, 0.76);
	top:2px;
	right:36px;
	width:25px;
	height:25px;
	line-height:22px;
	border-radius: 100px;
	text-align:center;
	cursor:pointer;
	font-family: helvetica;
	font-size:31px;
	box-shadow: 1px 1px 4px 0px rgba(68, 68, 68, 0.51);
	opacity: 0.5;
}

.dashboardItem.vncButton:hover {
	opacity: 1.0;
}

.dashboardItem.vncButton:active {
	opacity: 1.0;
	top:3px;
	right:34px;
}

.dashboardItem.vncButton.show {
	background-image:url(../resources/view-hide.png);
	background-size:200%;
	background-position: 100%;
}

.dashboardItem.vncButton.hide {
	background-image:url(../resources/view-hide.png);
	background-size:200%;
}

.dashboardItem.image{
	width:100%;
	height:75%;
}

.dashboardItem.screenGlass {
	width:100%;
	position: absolute;
	top: 0px;
	left: 0px;
	box-shadow: 0px 0px 10px 0px black;
	z-index: 10;
}

.dashboardItem.offlineImage {
	width:100%;
}

.dashboardItem.statusIcon {
	position: absolute;
	right: 4%;
	bottom: 14.5%;
	width: 4.7%;
	height: 5%;
	border-radius: 100px;
}

.dashboardItem.statusText {
	position: absolute;
	bottom: 28%;
	color: white;
	background-color: rgba(255,0,0,0.7);
	left: 0%;
	right: 0%;
	text-align: center;
	font-size: 24px;
}

.dashboardItem.statusText.warning {
	background-color: rgba(255,158,0,0.89);
}

.dashboardItem.statusText.error {
	background-color: rgba(255,0,0,0.7);
}

.dashboardItem.statusText.ok {
	background-color: rgba(0,138,19,0.82);
}

.dashboardItem.statusIcon.unreachable {
	background-color: #303030;
	box-shadow: inset 0px 0px 8px 2px black;
}

.dashboardItem.statusIcon.offline {
	background-color: #ffe100;
	box-shadow: 0px 0px 8px 2px #ffab00;
}

.dashboardItem.statusIcon.unknown {
	background-color: #ffe100;
	box-shadow: 0px 0px 8px 2px #ffab00;
}

.dashboardItem.statusIcon.capturing {
	background-color: #e80000;
	box-shadow: 0px 0px 8px 2px #fa3838;
}

.dashboardItem.statusIcon.capturing1 {
	background-color: #313131;
	box-shadow: inset 0px 0px 8px 2px black;
}

.dashboardItem.statusIcon.idle {
	background-color: white;
	box-shadow: 0px 0px 8px 2px #f1f1f1;
}

.dashboardItem.campus {
	display:none;
}

.dashboardItem.building {
	display:none;
}

.dashboardItem.name {
	padding-left: 1%;
	font-weight: bolder;
	bottom: 0%;
	position: absolute;
	left: 5%;
	right: 0%;
	height: 23%;
}

.dashboardItem.center {
	padding-left: 1%;
	bottom: 0%;
	position: absolute;
	left: 5%;
	right: 70%;
	height: 13%;
}

.dashboardItem.classroom {
	bottom: 0%;
	position: absolute;
	left: 40%;
	right: 0%;
	height: 13%;
}

.dashboardDetailContainer {
	position:relative;
	height: 100%;
}

.dashboardDetailInfoContainer {
	position: absolute;
	right: 0px;
	bottom: 0px;
	background-color: rgba(255,255,255,0.8);
	top: 0px;
	width: 30%;
	border-left: 1px solid gray;
}

.dashboardDetail.image {
	position:absolute;
	left:0px;
	top:0px;
	height:100%;
}

.dashboardDetail.offlineImage {
	position:absolute;
	left:0px;
	top:0px;
	height:100%;
}

.dashboardDetail {
	text-align: left;
	padding-left: 20px;
	font-size: 20px;
}
